body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.music-player {
    text-align: center;
}

audio {
    width: 80%;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
    cursor: pointer;
    color: #333;
}

li:hover {
    text-decoration: underline;
}
#visualizer {
    width: 100%;
    height: 100px;
    background-color: #333;
    margin-top: 20px;
    position: relative;
}

.bar {
    display: inline-block;
    width: 6%; /* Adjust the width as needed */
    margin: 0 1%; /* Adjust the margin as needed */
    background-color: #3498db; /* You can set your desired background color */
    height: 100%;
}
